@font-face { 
	font-family: "iconfont"; 
	font-display: swap;
	src: url("/Users/macbook/GITHUB-projects/arik-layout/src/assets/svgicons/preview/iconfont.woff2?ee0817265b7ab6668ea78812ddf4eb76") format("woff2"); 
} 
[class*="--icon-"]::before{
	font-family: iconfont; 
}
	[class*="--icon-s-youtube"]::before { 
		content: "\f101"; 
	} 
	[class*="--icon-s-whatsapp"]::before { 
		content: "\f102"; 
	} 
	[class*="--icon-s-twitter"]::before { 
		content: "\f103"; 
	} 
	[class*="--icon-s-twitch"]::before { 
		content: "\f104"; 
	} 
	[class*="--icon-s-tiktok"]::before { 
		content: "\f105"; 
	} 
	[class*="--icon-s-pinterest"]::before { 
		content: "\f106"; 
	} 
	[class*="--icon-s-instagram"]::before { 
		content: "\f107"; 
	} 
	[class*="--icon-s-fb"]::before { 
		content: "\f108"; 
	} 
	[class*="--icon-s-dribble"]::before { 
		content: "\f109"; 
	} 
	[class*="--icon-s-behance"]::before { 
		content: "\f10a"; 
	} 
	[class*="--icon-plus"]::before { 
		content: "\f10b"; 
	} 
	[class*="--icon-phone"]::before { 
		content: "\f10c"; 
	} 
	[class*="--icon-minus"]::before { 
		content: "\f10d"; 
	} 
	[class*="--icon-mail"]::before { 
		content: "\f10e"; 
	} 
	[class*="--icon-info"]::before { 
		content: "\f10f"; 
	} 
	[class*="--icon-check"]::before { 
		content: "\f110"; 
	} 
	[class*="--icon-chain"]::before { 
		content: "\f111"; 
	} 
	[class*="--icon-arrow"]::before { 
		content: "\f112"; 
	} 
